<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <form>
    <div class="ion-padding">
     <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          
        <img src="\assets\logo_devskill@2x.png" alt="Logo">

        <h6>Benvenuti</h6>
          
       </ion-col>
      </ion-row>
      <br>
      <br>
    </ion-grid> 
    <ion-grid class="set-grid">       
      <ion-row > 
        <ion-col>
          <ion-item>
            
            <ion-label for="uname" position="stacked">Username</ion-label>
            <ion-input id="uname" name="uname" placeholder="es: abc@deviskill.com"></ion-input>
            <ion-icon slot="end" name="mail-sharp"></ion-icon>  
            
           </ion-item>
           
        </ion-col>
      </ion-row>
               
      <ion-row>
        <ion-col>
          <ion-item>
            
            <ion-label for="pass" position="stacked">Password</ion-label>
            <ion-input id="pass" placeholder="inserisci password" name="pass" type="password"></ion-input>
            <ion-icon slot="end" name="Lock-Closed"></ion-icon>
            
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button class="ion-float-right">Login</ion-button> 
        </ion-col>
      </ion-row>


    </ion-grid>
  

  </div>
  </form>

</ion-content>
