<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <form>
    <div class="ion-padding">
     <app-titolo-devskill> </app-titolo-devskill> 
    <ion-grid class="set-grid">       
      <ion-row > 
        <ion-col>
          <ion-item>
            
            <ion-label for="uname" position="stacked">Username</ion-label>
            <ion-input id="uname" name="uname" [(ngModel)]="username" placeholder="es: abc@deviskill.com"></ion-input>
            <ion-icon slot="end" name="mail-sharp"></ion-icon>  
            
           </ion-item>
           
        </ion-col>
      </ion-row>
               
      <ion-row>
        <ion-col>
          <ion-item>
            
            <ion-label for="pass" position="stacked">Password</ion-label>
            <ion-input id="pass" placeholder="inserisci password"  name="pass" [(ngModel)]="password" type="password"></ion-input>
            <ion-icon slot="end" name="Lock-Closed"></ion-icon>
            
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button (click)="clickDiLogin()"  class="ion-float-right">Login</ion-button> 
        </ion-col>
      </ion-row>


    </ion-grid>
  

  </div>
  </form>

</ion-content>
