.ion-text-center {
    border: 3px rgb(18, 70, 226) solid;
}

.GD {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 200%;
    color: rgb(250, 250, 250);
}
.DG{
    background-color: rgb(33, 136, 246);
}

.griglia{
    max-width: 50%;
}